&.home {
  h1 {
    font-size: 45px;
    padding-bottom: 15px;
    color: #EEEEEE;
  }

  h2 {
    font-size: 38px;
    color: #FF8C32;
  }

  .avia_codeblock {
    text-align: center;

    form {
      width: 50%;
      margin: 0 auto;
    }

    button {
      padding: 10px 8px;
      background-color: #FF8C32;
      color: #EEEEEE;
      font-size: 20px;
      border: 1px solid #FF8C32;
      cursor: pointer;

      &:hover {
        background-color: #06113c;
      }
    }

    #response_holder {
      margin-top: 25px;

      tr {
        display: flex;
        width: 70%;
        margin: 0 auto;

        td {
          width: 100%;
        }
      }
    }

  }

  #input-field-data-holder {
    border-color: $journalorange;
  }

}